@import "/src/Styles/mixin.scss";

.Header {
  @include row;
  @include center;
  width: 100%;
  height: 60px;
  &Left {
    width: 20%;
    height: 100%;
    @include row;
    @include center;
    &Name {
      font-size: 25px;
      color: #fff;
      font-family: "Days One", sans-serif;
    }
  }
  &Right {
    height: 100%;
    width: 75%;
    @include row;
    align-items: center;
    justify-content: flex-end;
    .icons {
      padding: 5px;
      cursor: pointer;
      font-size: 22px;
      color: #fff;
    }
  }
}
