@import "/src/Styles/mixin.scss";

.Home {
  @include col;
  @include center;
  &Top {
    width: 100%;
    @include row;
    @include center;
  }
  &Mid {
    height: 70vh;
    color: silver;
  }
  &Bottom {
    @include row;
    @include center;
    width: 100%;
    flex-wrap: wrap;
  }
}
