@import "/src/Styles/mixin.scss";

.Gif {
  @include row;
  @include center;
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  @media (max-width: 675px) {
    flex-direction: column-reverse;
  }
  &Left {
    width: 50%;
    @include col;
    text-align: center;
    align-items: center;
    justify-content: start;
    @media (max-width: 675px) {
      width: 85%;
    }
    &Cont {
      @include center;
      @include col;
      width: 90%;
      &H {
        font-family: "Fredoka One", cursive;
        font-size: 45px;
        margin-bottom: 5px;
      }
      &S {
        font-size: 25px;
        font-weight: bold;
        color: silver;
        margin-bottom: 5px;
      }
      &B {
        @include row;
        @include center;
        margin-top: 2%;
        width: 100%;
        @media (max-width: 675px) {
          width: 100%;
        }
        &Style {
          margin-top: 10px;
          padding: 15px 20px;
          border-radius: 5px;
          border: none;
          background: #322eb5;
          cursor: not-allowed;
          color: #fff;
          box-shadow: 5px 3px 81px -7px #322eb5;
          -webkit-box-shadow: 5px 3px 81px -7px #322eb5;
          -moz-box-shadow: 5px 3px 81px -7px #322eb5;
        }
      }
    }
  }
  &Right {
    width: 50%;
    padding: 3%;
    @include col;
    @include center;
    &Img {
      height: 80%;
      width: 80%;
      border-radius: 10px;
      box-shadow: 5px 3px 81px -7px #322eb5;
      -webkit-box-shadow: 5px 3px 81px -7px #322eb5;
      -moz-box-shadow: 5px 3px 81px -7px #322eb5;
    }
    @media (max-width: 675px) {
      padding: 1%;
      width: 95%;
    }
  }
}
